.sec-4 h1 {
    margin-top: 50px;
    text-align: center;
}

.sec-4 .para1 {
    text-align: justify;
    width: 750px;
    font-weight: 500;
    margin-left: 250px;
    margin-right: 250px;
}

.classess_container {
    margin-top: 60px;
    margin-left: 100px;
    display: flex;
    margin-bottom: 40px;
}

.classess_container img {
    width: 650px;
    height: 330px;
    border-radius: 10px;
}

.dropbtn {
    background-color: rgb(82, 223, 223);
    border: 1px solid rgb(10, 214, 214);
    text-align: left;
    color: white;
    font-weight: 600;
    padding: 15px;
    width: 530px;
    margin-left: 10px;
    cursor: pointer;
}

.dropdown2 .dropbtn,
.dropdown4 .dropbtn {
    background-color: blue;
}

.dropdown-content ul {
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: rgb(235, 231, 231);
    font-size: 16px;
    padding: 30px;
    color: black;
}

.dropdown-content ul li {
    margin-left: 10px;
    margin-top: 6px;
}

.swimming_training_class {
    margin-top: -10px;
}

.swimming_training_class p {
    width: 650px;
}

.view_Schedule {
    margin-left: 15px;
    margin-top: 60px;
    color: white;
    background-color: rgb(82, 223, 223);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgb(82, 223, 223);
    cursor: pointer;
}

@media screen and (max-width: 480px) {

    .sec-4 .para1 {
        margin-left: 0px;
        text-align: justify;
        margin-left: 8px;
        width: 95%;
    }

    .classess_container {
        margin-left: 0px;
        display: block;
    }

    .classess_container img {
        width:350px;
        margin-left: 5px;
        height: 300px;
        margin-bottom: 30px;
    }
    
    .swimming_training_class p {
        margin-left: 0px;
        text-align: justify;
        margin-left: 8px;
        width: 95%;
    }
    .swimming_training_class h2{
        text-align: center;
    }
    .view_Schedule{
        margin-top: 15px;
    }

}